<div id="<%= dom_id artist %>">
  <p>
    <strong>ID:</strong>
    <%= artist.id %> ||
    <strong>Name:</strong>
    <%= artist.name %>
  </p>
  <p>
    <%= link_to "Show this artist", artist %> || 
    <%= link_to "Edit this artist", edit_artist_path(artist) %>
  </p>
</div>
