<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", comment %> || 
      <%= link_to "Edit this comment", edit_comment_path(comment) %>
    </p>
  <% end %>

  <%== pagy_nav(@pagy) %>

</div>

<%= link_to "New comment", new_comment_path %>
